In [135]:
from binance.client import Client
import pandas as pd
from config import settings
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [145]:
from data import Binance_data
api_connection = Binance_data()
data=api_connection.get_data(symbol='shibUSDT',start_date='2020-01-01',end_date='2023-04-28',invertal='1h')

Data Downloaded successfully !!!!!!
Data frame with 17222 observations For SHIBUSDT from date 2021-05-10 to 2023-04-28 with 1h invertal From Binance...

In [146]:
data.head(5)

,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
timestamp,,,,,,,,,,,
2021-05-10 11:00:00,0.000014,0.000050,0.000014,0.000030,1.527431e+13,1.620648e+12,4.981171e+08,730457.0,7.922164e+12,2.613939e+08,0.0
2021-05-10 12:00:00,0.000030,0.000039,0.000029,0.000033,1.290046e+13,1.620652e+12,4.445373e+08,613245.0,6.863991e+12,2.366849e+08,0.0
2021-05-10 13:00:00,0.000033,0.000036,0.000029,0.000031,8.472225e+12,1.620655e+12,2.732095e+08,424398.0,4.128436e+12,1.335645e+08,0.0
2021-05-10 14:00:00,0.000031,0.000031,0.000028,0.000029,5.786327e+12,1.620659e+12,1.689730e+08,302869.0,2.894601e+12,8.471910e+07,0.0
2021-05-10 15:00:00,0.000029,0.000031,0.000029,0.000029,3.593920e+12,1.620662e+12,1.074092e+08,205869.0,1.906123e+12,5.701797e+07,0.0

In [147]:
df=api_connection.wrangle_data(get_time_series=True,columns=['close'])

In [148]:
data=api_connection.save_data()

Data saved successfully to ('data/SHIBUSDT_h_2021_5_1682832513.csv',)

In [149]:
data.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 17222 entries, 2021-05-10 11:00:00 to 2023-04-28 00:00:00
Freq: H
Series name: close
Non-Null Count  Dtype
--------------  -----
17215 non-null  float64
dtypes: float64(1)
memory usage: 269.1 KB

In [1]:
# read the CSV file into a dataframe
df = pd.read_csv('data/SHIBUSDT_h_2023_1_1682832215.csv', index_col='timestamp', parse_dates=True)

# set the name of the index to "timestamp"

df.info()

NameError: name 'pd' is not defined

In [142]:
df.index.freq='H'

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2809 entries, 2023-01-01 00:00:00 to 2023-04-28 00:00:00
Freq: H
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   close   2808 non-null   float64
dtypes: float64(1)
memory usage: 43.9 KB